---
title:     The Key Ceremony
bodyclass: main
---

.page
  .wide-wrap
    .photo.lead
      %h1.intro
        The
        %br
        %br
        %span.big KEY
        %br
        Ceremony
      %h2 A feisty film about a community garden
%section.dark
  %header
    %h2= current_page.data.title
    %h3 PREMIERING AT THE BOWERY POETRY CLUB March 30, 12:30pm

  %p By Jeffrey Cyphers Wright and Lili White and featuring dozens of artists, musicians, poets, politicians and gardeners including Colette, Lydia Cortes, Ford Crull, Steve Dalachinsky, Jane LeCroy, Dorothea Lasky, Ron Kolm, Jesus-Papoleto Melendez, Yuko Otomo, Eung Ho Park, Judy Rifka, Hal Sirowitz, Susan Yung and many more.

%section.light
  .wide-wrap
    %p.left This artsy documentary celebrates the group of poets, artists, musicians, activists and volunteers who coalesced around the monthly parties at Dias y Flores Community Garden on East 13th Street. At the same time it indicts the corrupt board members who evicted five members and stopped the gatherings. 

    %p.right Interviews with the legendary Bob Holman and activist/historian Benjamin Heim-Shepard add grace and gravitas. The score includes original music by City Keys, DJ Ming, Victor Weiss with Roger Manning and more. This movie is at once an homage to the freewheeling freedom that infuses the East village and an indictment of gentrification’s bland tyranny.


%section.page.clear
  .gallery.wide-wrap 
    %img{ :src => "/images/crew.jpg", :alt => "cast members" }
    %img{ :src => "/images/cheer.jpg", :alt => "curtain call" }

%section.light
  .wide-wrap
    %h3.left The back story
    %p.left For a decade the garden hosted an event every single month. When 15-year garden member Jeff Wright questioned some board decisions that hadn’t been approved of by the membership, he was censored with expletives in a letter from the board. When Wright tried to get term limits on the agenda, he was accused of subversive activity and ordered to surrender his key. 

    %p.right GreenThumb reinstated Wright but the board members promptly kicked him out again along with four other members. After several months, Roland Chouloute of GreenThumb wrote to Wright and told him he was being kicked out a second time — for pointing out board violations. People rallied and presented Wright with symbolic keys in solidarity. In all, 41 keys were given to Wright — coincidentally, one key for each of the 41 gardens in the East Village.
    
%section.light.clear
  .wide-wrap
    .info-box
      %h3= current_page.data.title 
      %h3 BOWERY POETRY CLUB
      %h4 308 Bowery, NYC
      %p (Bleeker/Houston) 
      %h3 Sunday March 30, 2014
      %h4 12:30 p.m., $6
      %p info: covermag[at]yahoo.com
    .right    
      .video-wrap     
        %iframe{:allowfullscreen => " ", :frameborder => "0", :height => "366", :mozallowfullscreen => " ", :src => "//player.vimeo.com/video/89666161", :webkitallowfullscreen => " ", :width => "500"}  
        %p
          %a{:href => "http://vimeo.com/89666161"} Film trailer by Lili White

